#footer

  .container
    .row
      .four.columns
        .logo-archilogic
          a(href='https://spaces.archilogic.com/explore')
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 250"><path d="M234.5,193V180l-4-7.4v25.3C232.3,196.9,234.2,195,234.5,193z"/><path d="M222.6,157.7v42.4c1.3,0,2.6-0.2,4-0.6v-34.4L222.6,157.7z"/><path d="M214.6,142.9v54.9c1.2,0.7,2.5,1.3,4,1.7v-49.2L214.6,142.9z"/><path d="M206.6,128.1v59.3l3.4,6.7c0,0,0.2,0.3,0.6,0.7v-59.2L206.6,128.1z"/><polygon points="202.6,179.4 202.6,120.6 198.6,113.2 198.6,171.5 202.6,179.4 	"/><polygon points="192.4,164.6 194.6,163.6 194.6,105.8 190.6,98.4 190.6,165.4 192.4,164.6 	"/><polygon points="182.6,137.8 182.6,168.9 186.6,167.2 186.6,91 182.6,83.6 182.6,137 182.6,137.8 	"/><polygon points="178.6,76.2 174.6,68.8 174.6,122.1 178.6,129.5 178.6,76.2 	"/><polygon points="178.6,139.5 174.6,141.3 174.6,172.5 178.6,170.7 178.6,139.5 	"/><polygon points="170.7,61.3 166.7,53.9 166.7,107.3 170.7,114.7 170.7,61.3 	"/><polygon points="170.7,143 166.7,144.8 166.7,176.1 170.7,174.3 170.7,143 	"/><polygon points="162.7,46.5 158.7,39.1 158.7,92.4 162.7,99.8 162.7,46.5 	"/><polygon points="162.7,146.6 158.7,148.3 158.7,179.6 162.7,177.8 162.7,146.6 	"/><polygon points="154.7,150.1 150.7,151.8 150.7,183.2 154.7,181.4 154.7,150.1 	"/><polygon points="154.7,31.7 150.7,24.3 150.7,77.5 154.7,85 154.7,31.7 	"/><path d="M146.7,16.9l-4-7.4c0,0,0,0,0,0v53.2l4,7.4V16.9L146.7,16.9z"/><polygon points="146.7,153.6 142.7,155.3 142.7,186.7 146.7,184.9 146.7,153.6 	"/><path d="M130.6,0h-10.8c-5.4,0-10.2,3.8-12.5,9.4l-92,171.7c0,0-6.3,12.3,4,18s17.6-0.5,20.2-5.3c2.6-4.8,15.9-29.8,15.9-29.8l55,24.3v46.5v0.8c0.1,3.1,1.2,14.3,13.7,14.3c13.5,0,14.1-13.5,14.1-13.5V3.9C136.5,1.3,133.7,0,130.6,0z M110.5,157l-44.2-19.5l44.2-82.3V157z"/></svg>
        a(href='https://goo.gl/maps/HoiUyqNQ8662') With &#10084; from Switzerland
      .four.columns
        a(href='https://stackoverflow.com/questions/tagged/aframe%20and%20base%20or%20archilogic', target='_blank') Questions? Ask us on stack overflow.
        br
        a(href=githubLink, target='_blank') Suggest improvements to this page.
        br
        a(href='https://github.com/archilogic-com/3d-io-website/issues/new?title=Bug: …&body=How to reproduce:%0A1. …%0A2.%0A3.%0A%0AExpected Result:%0A…%0A%0AActual Result:%0A…', target='_blank') Report a bug.
        br
        a(href='mailto:dev.rocks@archilogic.com') Drop us a line.
        br
        .social
          a(href='https://twitter.com/archilogic3d', target='_blank')
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M454.058 213.822c28.724-2.382 48.193-15.423 55.683-33.132-10.365 6.373-42.524 13.301-60.269 6.681-.877-4.162-1.835-8.132-2.792-11.706-13.527-49.679-59.846-89.698-108.382-84.865 3.916-1.589 7.914-3.053 11.885-4.388 5.325-1.923 36.678-7.003 31.749-18.079-4.176-9.728-42.471 7.352-49.672 9.597 9.501-3.581 25.26-9.735 26.93-20.667-14.569 1.991-28.901 8.885-39.937 18.908 3.998-4.293 7.01-9.536 7.666-15.171-38.91 24.85-61.624 74.932-80.025 123.523-14.438-13.972-27.239-25.008-38.712-31.114-32.209-17.285-70.722-35.303-131.156-57.736-1.862 19.996 9.899 46.591 43.723 64.273-7.325-.986-20.736 1.219-31.462 3.773 4.382 22.912 18.627 41.805 57.251 50.918-17.642 1.163-26.767 5.182-35.036 13.841 8.043 15.923 27.656 34.709 62.931 30.82-39.225 16.935-15.998 48.234 15.93 43.565-54.444 56.244-140.294 52.123-189.596 5.08 128.712 175.385 408.493 103.724 450.21-65.225 31.23.261 49.605-10.823 60.994-23.05-17.99 3.053-44.072-.095-57.914-5.846z"></path></svg>
          a(href='https://www.facebook.com/archilogic3d', target='_blank')
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M192.191 92.743v60.485h-63.638v96.181h63.637v256.135h97.069v-256.135h84.168s6.674-51.322 9.885-96.508h-93.666v-42.921c0-8.807 11.565-20.661 23.01-20.661h71.791v-95.719h-83.57c-111.317 0-108.686 86.262-108.686 99.142z"></path></svg>
          a(href='https://www.pinterest.com/archilogic', target='_blank')
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M267.702-6.4c-135.514 0-203.839 100.197-203.839 183.724 0 50.583 18.579 95.597 58.402 112.372 6.536 2.749 12.381.091 14.279-7.361 1.325-5.164 4.431-18.204 5.83-23.624 1.913-7.363 1.162-9.944-4.107-16.38-11.483-13.968-18.829-32.064-18.829-57.659 0-74.344 53.927-140.883 140.431-140.883 76.583 0 118.657 48.276 118.657 112.707 0 84.802-36.392 156.383-90.42 156.383-29.827 0-52.161-25.445-45.006-56.672 8.569-37.255 25.175-77.456 25.175-104.356 0-24.062-12.529-44.147-38.469-44.147-30.504 0-55 32.548-55 76.119 0 27.782 9.097 46.546 9.097 46.546s-31.209 136.374-36.686 160.269c-10.894 47.563-1.635 105.874-.853 111.765.456 3.476 4.814 4.327 6.786 1.67 2.813-3.781 39.131-50.022 51.483-96.234 3.489-13.087 20.066-80.841 20.066-80.841 9.906 19.492 38.866 36.663 69.664 36.663 91.686 0 153.886-86.2 153.886-201.577 0-87.232-71.651-168.483-180.547-168.483z"></path></svg>
          a(href='https://www.youtube.com/channel/UCKsHGWLYoC77_QpdtpnF9SA', target='_blank')
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M146.112 194.063h31.18l.036-107.855 36.879-92.4h-34.136l-19.588 68.63-19.881-68.82h-33.762l39.219 92.627zm257.78 157.717c0-7.255-5.968-13.18-13.282-13.18h-1.769c-7.285 0-13.253 5.925-13.253 13.18l-.118 16.326h28.103l.32-16.326zm-192.18-214.16c0 12.324.594 21.577 1.851 27.736 1.236 6.151 3.284 11.439 6.202 15.755 2.897 4.323 6.948 7.599 12.2 9.75 5.237 2.187 11.578 3.218 19.119 3.218 6.744 0 12.727-1.236 17.95-3.76 5.164-2.508 9.42-6.443 12.726-11.695 3.335-5.325 5.514-10.986 6.51-17.094 1.009-6.093 1.536-15.688 1.536-28.738v-35.562c0-10.306-.557-17.956-1.654-23.025-1.082-5.002-3.115-9.889-6.113-14.643-2.956-4.74-7.198-8.587-12.698-11.534-5.471-2.948-12.04-4.448-19.682-4.448-9.099 0-16.574 2.312-22.418 6.92-5.865 4.587-9.918 10.679-12.156 18.25-2.231 7.599-3.373 18.138-3.373 31.64v37.23zm25.9-56.232c0-7.951 5.932-14.453 13.151-14.453 7.227 0 13.107 6.502 13.107 14.453v74.861c0 7.965-5.88 14.475-13.107 14.475-7.219 0-13.151-6.51-13.151-14.475v-74.861zm60.562 251.726c-7.139 0-12.976 4.798-12.976 10.664v79.374c0 5.866 5.836 10.635 12.976 10.635 7.137 0 12.99-4.769 12.99-10.635v-79.374c0-5.866-5.851-10.664-12.99-10.664zm13.75-153.306c1.536 3.73 3.921 6.743 7.139 9.018 3.188 2.238 7.269 3.372 12.142 3.372 4.286 0 8.06-1.156 11.366-3.54 3.291-2.377 6.072-5.917 8.323-10.649l-.557 11.644h33.06v-140.623h-26.039v109.443c0 5.931-4.871 10.773-10.839 10.773-5.94 0-10.825-4.842-10.825-10.773v-109.443h-27.193v94.844c0 12.083.219 20.135.584 24.224.381 4.053 1.317 7.951 2.838 11.711zm87.595 43.066h-287.031c-38.406 0-69.814 29.652-69.814 65.857v150.994c0 36.221 31.407 65.858 69.814 65.858h287.031c38.385 0 69.808-29.637 69.808-65.858v-150.994c0-36.205-31.422-65.857-69.808-65.857zm-297.577 233.236v-159.494l-29.609-.087v-23.172l94.857.161v23.551h-35.591l.023 159.041h-29.68zm136.35-.029l-23.829-.031.066-17.553c-6.407 13.751-31.977 24.824-45.333 15.185-7.154-5.135-6.898-14.13-7.63-21.856-.387-4.373-.065-13.999-.101-26.902l-.088-84.17h29.512l.117 85.531c0 11.659-.629 18.461.081 20.714 4.243 12.858 15.09 5.881 17.496-.717.775-2.164.029-8.308.029-20.596v-84.932h29.681v135.327zm44.215-12.801l-2.223 11.294-24.372.365.147-181.406 29.636-.06-.103 52.575c27.356-21.81 47.512-5.661 47.542 21.269l.06 70.714c.043 34.244-19.544 53.817-50.688 25.248zm68.578-34.537v-42.129c0-12.656 1.242-22.617 3.774-29.901 2.5-7.285 6.817-12.713 12.447-16.764 17.978-12.96 53.526-8.938 57.169 16.399 1.156 8.017 1.536 22.015 1.536 36.031v19.163h-50.952v32.635c0 6.656 5.486 12.053 12.173 12.053h4.358c6.657 0 12.144-5.397 12.144-12.053v-12.404c.014-1.098.043-2.106.058-2.999l22.25-.117c10.151 60.269-74.956 70.173-74.956.088z"></path></svg>
      .four.columns.friends Visit tech friends of ours:
        br
        a(href='https://aframe.io', target='_blank') A-Frame,
        a(href='http://archilyse.com', target='_blank') Archilyze,
        a(href='https://get.google.com/tango/', target='_blank') Google Tango,
        a(href='https://matterport.com', target='_blank') Matterport,
        a(href='https://highfidelity.com', target='_blank') High Fidelity,
        a(href='https://wikihouse.cc', target='_blank') Wikihouse,
        a(href='https://www.esri.com/software/cityengine', target='_blank') City Engine,
        a(href='https://blender.org', target='_blank') Blender,
        a(href='https://additaz.com', target='_blank') Additaz,
        a(href='https://beta.figuro.io', target='_blank') figuro.io

  //- Google Analytics script
  script(type='text/javascript').
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46441340-2', 'auto');
    ga('send', 'pageview');

  //- HubSpot Tracking script
  script(type='text/javascript' id='hs-script-loader' async defer src='//js.hs-scripts.com/2805374.js')
