#footer

  .container
    .row
      .four.columns
        a(href='https://stackoverflow.com/questions/tagged/aframe%20and%20base%20or%20archilogic') Questions? Ask us on stack overflow.
        br
        a(href=githubLink) Suggest improvements to this page.
        br
        a(href='https://github.com/archilogic-com/3d-io-website/issues/new?title=Bug: …&body=How to reproduce:%0A1. …%0A2.%0A3.%0A%0AExpected Result:%0A…%0A%0AActual Result:%0A…') Report a bug.
        br
        a(href='mailto:dev.rocks@archilogic.com') Drop us a line.
      .four.columns
        a(href='https://spaces.archilogic.com/explore')
          img(src=urlPathRoot+'/img/logo-archilogic.svg', style='margin: 0 0 6px 0; height: 56px; opacity: 0.2;')
        br
        a(href='https://goo.gl/maps/HoiUyqNQ8662') With &#10084; from Switzerland
      .four.columns.friends Visit tech friends of ours:
        br
        a(href='https://aframe.io') A-Frame,
        a(href='') Archilyze,
        a(href='https://get.google.com/tango/') Google Tango,
        a(href='https://matterport.com') Matterport,
        a(href='https://highfidelity.com') highfidelity,
        a(href='https://wikihouse.cc') Wikihouse,
        a(href='http://www.esri.com/software/cityengine') City Engine,
        a(href='https://additaz.com') Additaz,
        a(href='https://beta.figuro.io') figuro.io

  //- Google Analytics script
  script(type='text/javascript').
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46441340-2', 'auto');
    ga('send', 'pageview');

  //- HubSpot Tracking script
  script(type='text/javascript' id='hs-script-loader' async defer src='//js.hs-scripts.com/2805374.js')
