#menu-top-shadow
#menu-top
  #hamburger-button

  #brand
    a(href='/') 3d.io
      .beta-badge BETA

  #items
    a(href='/#use-cases') Use Cases
    .spacer
    a(href='/#products') Products
    .spacer
    a(href='/#pricing') Pricing
    .spacer
    a(href='/docs/1/') API
    .spacer
    a(href='/#community') Community
    .spacer
    a(href='https://stackoverflow.com/questions/tagged/aframe%20and%20base%20or%20archilogic') Support

  #user
    a(href='https://spaces.archilogic.com/explore?popup=login') Login
    .spacer
    a(href='https://spaces.archilogic.com/signup') Sign Up
