html
  head

    -if (title){
      title #{title}
    -} else {
      title 3d.io
    -}

    block scripts
      //- script(src='/js/jquery.js')

    block css
      //- fonts
      link(href='font/fira/fira-mono.css', rel='stylesheet')
      link(href='font/fira/fira-sans.css', rel='stylesheet')
      link(href='font/roboto/roboto-condensed.css', rel='stylesheet')
      //- stylesheets
      link(href='css/main.css', rel='stylesheet')
      link(href='css/code.css', rel='stylesheet')

  body
    #menu-top Products  |  Use Cases  |  Pricing  |  Docs  |  Community  |  Support
      .left
        a(href='/') 3d.io
      .right Login | Sign Up
    #content
      block content
    #footer
      a(href='https://stackoverflow.com/questions/tagged/aframe%20and%20base%20or%20archilogic').button Questions? Ask us on stack overflow.<br>
      a(href=githubLink).button Suggest an improvement for this page.