a {
    color: #4678BC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {

}
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 36px;
}
h3, h4 {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

#content {
    margin: 0px auto 0px auto;
    padding: 80px 0 50px 0;
    min-height: 80vh;
    background: white;
}