@import "common/reset.less";
@import "common/normalize.less";
@import "common/skeleton.less";
@import "common/mixins.less";
@import "configs.less";

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 1.2;
}

@import "menu-top.less";
@import "content.less";
@import "footer.less";