.logo-container {
    position: relative;
    height: 140px;
    width: 140px;
    margin: 0px auto 0px auto;
    .bg {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: #ddd;
        border-radius: 50%;
    }
    .logo {
        position: absolute;
        top:    8%;
        left:   8%;
        right:  8%;
        bottom: 8%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}