extends pug-common/main.pug

block head
  link(href=urlPathRoot+'/css/md-wrapper.css', rel='stylesheet')
  link(href=urlPathRoot+'/css/floorplan-to-3d-conversion.css', rel='stylesheet')

block content
  .container
    .row.title-rows
      .twelve.columns
        h3(style='margin-top:15px;') 3d.io & Partners Proudly Present:
        h1(style='margin-top:10px;') Professional 3D Models from Floor Plans
        p(style='margin-left:auto; margin-right:auto; max-width:650px;') We love teaming up with qualified 3D professionals. Together we deliver beautiful solutions to architects, real estate professionals, urban planners and home owners. Transparency and fair pricing are key to our common success. In a clearly defined, efficient and innovative approach we build 3D models in 2 steps:<br><span class="step">1</span> 3d.io converts floor plans into basic 3D models.<br><span class="step">2</span> 3D Professionals turn those into uniquely crafted pieces of art.
    .row.title-rows
      .twelve.columns
        img(style='margin-top:0.5em' src='img/2d-to-3d-with-partner.jpg')
    .row
      .four.columns
        h2 Input: Floor Plan
        p
          <b>Supported Formats:</b><br>JPG, PNG, GIF, PDF<br>
          <b>Requirements:</b><br>Scale indicated by room area or dimensions. If there is no indication as to what the scale of the plan is door widths are being used to approximate scaling.<br>
      .four.columns
        h2 <span class="step">1</span> Basic 3D Model
        p
          <b>Delivered by:</b><br>3d.io<br>
          <b>Pricing:</b><br>Defined by 3d.io<br>
          <b>Accuracy:</b><br>Furniture, materials, fixtures, windows and the kitchen are generic. No slanted ceilings. Room heights are standard. Dimensions precision based on input.<br>
          <b>Example:</b><br>
        a(href='https://spaces.archilogic.com/model/archilogic/2qo2dyzq?modelResourceId=7117c454-4a5c-4b8c-93a3-113329ae0899&mode=edit')
          img(src='img/basic-model-preview.jpg')
        a(href='use-case/floor-plan-converted-to-basic-3d-model.html') Read more in use case example
        p <b>Quality Assurance:</b><br>Model Recepient can apply any required changes and improvements using free tools provided by 3d.io (i.e. editor or app creator)<br>
        a(href='https://spaces.archilogic.com/order').cta Get a Basic 3D Model
      .four.columns
        h2 <span class="step">2</span> Professional 3D Model
        p.
          <b>Delivered by:</b><br>Certified partner<br>
          <b>Pricing:</b><br>Defined by partner<br>
          <b>Accuracy:</b><br>Specified by partner based on product, price and delivery time. Find concrete examples including pricing on partner profile pages.<br>
          <b>Example:</b><br>
        a(href='https://spaces.archilogic.com/model/archilogic/d9ljsimk?modelResourceId=f66726ec-9efe-4812-afca-114c8bfcd5bf&mode=edit')
          img(src='img/professional-model-preview.jpg')
        p <b>Quality Assurance:</b><br>Certified partner program: only select and qualified 3D Professionals are granted the 3d.io partner badge.<br>
        a(href='https://spaces.archilogic.com/partners').cta Get a Professional 3D Model

    .row(style='text-align:center;')
      .twelve.columns
        h1(style='margin-top:70px;') Custom 3D Apps & VR Solutions
        p(style='margin-left:auto; margin-right:auto; max-width:650px;') Not found what you are looking for? With a powerful partner network we are crafting taylored apps and VR solutions based on specific requirements. Just drop us a line:
        a(href='mailto:partner@archilogic.com') solutions@archilogic.com
