extends layout/main.pug


block head
  link(href='css/index-page.css', rel='stylesheet')


block content
  .container
    .row.title-row
      .six.columns
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 60"></svg>
        img(src='img/3d-io-logo-large.svg', style='width: 100%; max-width: 300px; margin: 15px 0 15px 0;')
        br
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 50"></svg>
        a(href='https://base-for-aframe.glitch.me/about') Build apps
        a(href='https://spaces.archilogic.com/order') Publish 3d models
      .six.columns
        img(src='img/title-pic.png', style='margin-top: 20px; width: 100%; max-width: 400px;')
    .row
      .four.columns
        h2 Instant Content
        p Focus on creation by remixing <a href="https://spaces.archilogic.com/products">beautifully crafted 3d models</a> of real products from our wast data sets. To keeps things simple we packaged all of that into <a href="https://github.com/archilogic-com/base-for-aframe">open sourced A-Frame components</a>. Simply <a href="https://base-for-aframe.glitch.me/about">give it a try</a> and even <a href="https://docs.archilogic.com/en/tutorials/custom-3d-content/index.html">import your own 3d models via drag&drop</a> or <a href="">API</a>. You have a good old 2D floor plan? Perfect: we will <a href="https://spaces.archilogic.com/order">convert it to 3D for free</a>.
      .four.columns
        h2 Cloud Services
        p Leverage your webGL apps with scalable preprocessing in our cloud: <a href="https://docs.archilogic.com/en/3d-editor/lighting/">bake lightmaps</a>, <a href="https://docs.archilogic.com/en/3d-editor/materials/">create texture-sets</a>, <a href="">apply 3d filters</a> or furnish a room in seconds using <a href="">virtual staging AI</a>. Boost your app performance using environment adapted textures and shaders, progressive loading, caching and preprocessing.
      .four.columns
        h2 Partner Network
        p We are facing an overwhelming demand for VR and 3d apps from innovation ready architects, real estate brokers, marketing agencies and city planners. To establish synergies amongst peers we’ve decided to open our <a href="https://spaces.archilogic.com/partners">exclusive partner network</a> to qualified app builders and content creators <a href="https://spaces.archilogic.com/partners">Apply today</a>.

  .container#use-cases
    .row
      .twelve.columns
        h2 Use Cases
    .row
      .six.columns
        .example
          img(src='img/use-case-a-frame.jpg', style='margin-top: 20px; width: 100%;')
          h3 Content Rich A-Frame App
          //- p logo, custom loading screen using archilogic product 3d models, created with app-creator.
      .six.columns
        .example
          img(src='img/use-case-portfolio.jpg', style='margin-top: 20px; width: 100%;')
          h3 Interior Design Protfolio
          //- p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
    .row
      .six.columns
        .example
          img(src='img/use-case-converted-floorplan.jpg', style='margin-top: 20px; width: 100%;')
          h3 3D Model from Floor Plan
          //- p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
      .six.columns
        .example
          img(src='img/use-case-virtual-staging-3d-scan.jpg', style='margin-top: 20px; width: 100%;')
          h3 Virtually Staged 3D Scan
          //- p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex

  .container#products
    //- Read products json and extract data for use in template
    -
      var productsJson = require('../src/products.json')
      function getByCategory(category) {
      return productsJson.products.reduce(function(a, b){
      return b.category === category ? a.concat(b) : a
      }, [])
      }
      var contentManagementProducts = getByCategory('Content Management')
      var contentCreationProducts = getByCategory('Content Creation')
      var contentEnhancementProducts = getByCategory('Content Enhancement')

    //- Mixin (html template for product lists
    mixin productList(products)
      each p in products
        .product
          .left
            .icon
              if p.icon
                img(src=p.icon)
          .right
            h4= p.title
            .badges
              if p.app.url
                a(href=p.app.url, target='_blank').app App
              if p.api.url
                a(href=p.api.url).api API
              if !p.app.url && !p.api.url
                | (coming soon)

    //- list products
    .row
      .twelve.columns
        h2 Products
    .row
      .seven.columns
        p Building blocks doing one thing at a time an do it well, not a framework but libs and services you can freely combine and mix with other stuff.
        p(style='margin-bottom:26px;')
          a(href='technology.md') &#9642; More on our tech philosophy
          br
          a(href='api.md') &#9642; API reference
    .row
      .four.columns
        +productList(contentManagementProducts)
      .four.columns
        +productList(contentCreationProducts)
      .four.columns
        +productList(contentEnhancementProducts)

  .container#pricing
    .row
      .seven.columns
        h2 Pricing
        p(style='margin-bottom:26px;') Our frontend code is open source. All APIs are freemium with generous quotas allowing you to experiment to great extend.
    .row
      .twelve.columns
      table(style='background: #ddd; width: 100%;')
        tr
          td(style='width:35%padding: 3px; border: 2px solid white;')
          td(style='width:13%;padding: 3px; border: 2px solid white;') Free
          td(style='width:13%;padding: 3px; border: 2px solid white;') Monthly
          td(style='width:13%;padding: 3px; border: 2px solid white;') Pay As You Go
          td(style='width:13%;padding: 3px; border: 2px solid white;') Certified Partner
          td(style='width:13%;padding: 3px; border: 2px solid white;') Enterprise

  .container#community
    .row
      .twelve.columns
        h2 Community
    .row
      .four.columns
        a(href='sample-page.md') Link to sample markdown page
      .four.columns
      .four.columns
