extends pug-common/main.pug


block head
  link(href=urlPathRoot+'/css/partners-page.css', rel='stylesheet')

block content
  .container#title
    .row
      .twelve.columns
        h1 Certified Partners

  .container#filter
    .row
      .twelve.columns

  .container#partner-list
    //- Read partners json and extract data for use in template
    -
      var partners = getAllPartnerInfo()
      var partnerRows = []
      for (var i=0, l=partners.length; i<l; i+=3) {
        partnerRows.push([ partners[i], partners[i+1], partners[i+2] ])
      }

    //- Mixin (html template for partner list)
    mixin partner(partner)
      .four.columns
        .partner
          a(href='/partner/'+partner.filename)
            //-p= partner.TAGLINE
            .logo-container
              .bg
              .logo(style=`background-image: url('${partner.LOGO}');`)
            h2= partner.NAME

    each p in partnerRows
      .row
        if p[0]
          +partner(p[0])
        if p[1]
          +partner(p[1])
        if p[2]
          +partner(p[2])