/* Fira Sans specimen */
/* font-family: 'Fira Sans', sans-serif; */
/*
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url('woff/FiraSans-Light.woff') format('woff'),
         url('woff2/FiraSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'),
         url('woff/FiraSans-LightItalic.woff') format('woff'),
         url('woff2/FiraSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
*/
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('woff/FiraSans-Regular.woff') format('woff'),
         url('woff2/FiraSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
         url('woff/FiraSans-RegularItalic.woff') format('woff'),
         url('woff2/FiraSans-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/*
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'),
         url('woff/FiraSans-Medium.woff') format('woff'),
         url('woff2/FiraSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'),
         url('woff/FiraSans-MediumItalic.woff') format('woff'),
         url('woff2/FiraSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
*/
@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url('woff/FiraSans-Bold.woff') format('woff'),
         url('woff2/FiraSans-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
         url('woff/FiraSans-BoldItalic.woff') format('woff'),
         url('woff2/FiraSans-BoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
