#footer
  .container
    .row
      .four.columns
        a(href='https://stackoverflow.com/questions/tagged/aframe%20and%20base%20or%20archilogic') Questions? Ask us on stack overflow.
        br
        a(href=githubLink) Suggest improvements to this page.
        br
        a(href='https://github.com/archilogic-com/3d-io-website/issues/new?title=Bug: …&body=How to reproduce:%0A1. …%0A2.%0A3.%0A%0AExpected Result:%0A…%0A%0AActual Result:%0A…') Report a bug.
        br
        a(href='mailto:dev.rocks@archilogic.com') Drop us a line.
      .four.columns
      .four.columns